mat-card {
  width: 500px;
  margin: auto;
}

h1 {
  color: rgb(0, 110, 255);
  font-size: large;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.imagePreview {
  height: 5rem;
  margin: 1rem 0;
}

.imagePreview img {
  height: 100%;
}

.upload {
  margin-bottom: 50px;
}

form {
  margin-top: 30px;
}
